astroid==2.4.2
brewer2mpl==1.4.1
click==7.1.2
cycler==0.10.0
Cython==0.29.17
decamelize==0.1.2
ggplot==0.11.5
grpcio==1.33.2
grpcio-reflection==1.33.2
grpcio-tools==1.33.2
isort==4.3.21
joblib==0.14.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
machine-learning==0.0.1
matplotlib==3.0.3
mccabe==0.6.1
mypy==0.790
mypy-extensions==0.4.3
nltk==3.5
nose==1.3.7
numpy==1.18.5
pandas==0.25.3
patsy==0.5.1
protobuf==3.13.0
pybind11==2.4.3
pycairo==1.20.0
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
regex==2020.10.28
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.15.0
statsmodels==0.10.2
tabulate==0.8.7
toml==0.10.2
tornado==6.0.4
tqdm==4.51.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
wrapt==1.12.1
