*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}
